<form action="/admin/accounts/<%= @account.id %>" method="POST">
  <label for="name"/>Name</label>
  <input type="text" name="name" id="name" value="<%= @account.name %>" required/>
  <br/>
  <label for="bankname"/>Bankname</label>
  <input type="text" name="bankname" id="bankname"  value="<%= @account.bankname %>" required/>
  <br/>
  <label for="creditor_identifier"/>Creditor ID</label>
  <input type="text" name="creditor_identifier" id="creditor_identifier"  value="<%= @account.creditor_identifier %>"/>
  <br/>
  <label for="callback_url"/>Callback URL</label>
  <input type="text" name="callback_url" id="callback_url" value="<%= @account.callback_url %>"/>
  <br/>
  <label for="host"/>Host ID</label>
  <input type="text" name="host" id="host" value="<%= @account.host %>" required/>
  <br/>
  <label for="partner"/>Partner ID</label>
  <input type="text" name="partner" id="partner" value="<%= @account.partner %>" required/>
  <br/>
  <label for="user"/>User ID</label>
  <input type="text" name="user" id="user" value="<%= @account.user %>" required/>
  <br/>
  <label for="url"/>URL</label>
  <input type="text" name="url" id="url" value="<%= @account.url %>" required/>
  <br/>
  <label for="key"/>key</label>
  <textarea name="key" id="key"> <%= @account.key %> </textarea>
  <br/>
  <label for="mode"/>Mode</label>
  <select name="mode" id="mode">
    <option>File</option>
    <option>Epics::Client</option>
  </select>
  <br/>
  <hr/>
  <input type="submit" value="Update"/>
</form>
